<!-- Loading Spinner -->
<div *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
      strokeWidth="5"
    ></mat-progress-spinner>
  </div>
  
  <!-- Error Message -->
  <div *ngIf="errorMsg !== null">
    <div class="col-sm-6 offset-sm-3" id="errorMessage">
      <span>{{ errorMsg }}</span>
    </div>
  </div>
  
  <!-- Display Jokes When Loading is Finished and No Error -->
  <div *ngIf="loading === false && errorMsg === null">
    <div class="sh-section__wrap row sh-section__isotope-init" id="conteneur">
      <div id="gagList">
        <!-- Loop Through Each Gag -->
        <div id="gagBloc" *ngFor="let gag of gags; let i = index">
          <div class="gagPost" id="g{{ i }}">
            <!-- Gag Header Section -->
            <div class="section__head">
              <!-- User Image -->
              <a href="single_post.html" class="imageUser">
                <div>
                  <img [src]="userImageSrc" alt="" class="rounded-circle" width="31" />
                </div>
              </a>
  
              <!-- User Details -->
              <div class="detail_header">
                <!-- Username -->
                <div class="section_username">
                  <a href="#" *ngIf="gag.createur_name === null"> @Anonyme </a>
                  <a href="/posts/user/{{ gag.createur_name }}" *ngIf="gag.createur_name !== null"> @{{ gag.createur_name }} </a>
                </div>
  
                <!-- Creation Time -->
                <div class="section_hours">{{ gag.creation_dateTime }}</div>
              </div>
  
              <!-- Post Actions (Approve/Delete) -->
              <div class="postAction">
                <!-- Approve Button -->
                <button
                  *ngIf="isAbleToValidate() && gag.status !== 'APPROVED'"
                  class="approuve-button"
                  (click)="approuveJoke(gag.id)"
                >
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </button>
  
                <!-- Delete Button -->
                <button
                  *ngIf="isAbleToDelete(gag.createur_name)"
                  class="delete-button"
                  (click)="openDeleteConfirmationDialog(gag.id)"
                >
                  X
                </button>
              </div>
            </div>
  
            <!-- Gag Content Section -->
            <div class="mainGagContainer">
              <!-- Gag Title -->
              <div id="title" *ngIf="gag.titreGag !== ''">
                <a href="/posts/{{ gag.id }}"> #{{ gag.titreGag }} </a>
              </div>
              <div id="title" *ngIf="gag.titreGag === ''">
                <a href="/posts/{{ gag.id }}">XXX</a>
              </div>
  
              <!-- Gag Text and La Chute Section -->
              <div class="section_content">
                <!-- Gag Text -->
                <p
                  [ngClass]="{ 'text-right': isArabic(gag.titreGag) }"
                  [innerHTML]="gag.gagText"
                  class="gag"
                ></p>
  
                <!-- La Chute Section -->
                <div *ngIf="gag.laChute !== ''">
                  <!-- Toggle Button -->
                  <button id="laChute" class="btn btn-default" (click)="toggleLaChute(gag.id)">
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-angle-double-down': !isLaChuteShown(gag.id),
                        'fa-angle-double-up': isLaChuteShown(gag.id)
                      }"
                      aria-hidden="true"
                    ></i>
                  </button>
  
                  <!-- La Chute Content -->
                  <div *ngIf="isLaChuteShown(gag.id)">
                    <div
                      [ngClass]="{ 'text-right': isArabic(gag.titreGag) }"
                      [innerHTML]="gag.laChute"
                      class="laChuteContainer"
                      [id]="'chuteGag' + gag.id"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Footer Section (Commented Out for Now) -->
            <!--
            <div class="section_footer">
              <div id="interaction">
                <div *ngIf="isGagAlreadyLiked(gag) === 1" class="footerIcons">
                  <button id="like" href="#" class="btn btn-default" disabled>
                    <i class="fa fa-thumbs-up icon"></i>
                  </button>
                  <button href="#" class="btn btn-default">
                    <i class="fa fa-thumbs-down icon"></i>
                  </button>
                </div>
                <div *ngIf="isGagAlreadyLiked(gag) === -1" class="footerIcons">
                  <button href="#" class="btn btn-default">
                    <i class="fa fa-thumbs-up icon"></i>
                  </button>
                  <button id="dislike" href="#" class="btn btn-default" disabled>
                    <i class="fa fa-thumbs-down icon"></i>
                  </button>
                </div>
                <div *ngIf="isGagAlreadyLiked(gag) === 0" class="footerIcons">
                  <button href="#" class="btn btn-default">
                    <i class="fa fa-thumbs-up icon"></i>
                  </button>
                  <button href="#" class="btn btn-default">
                    <i class="fa fa-thumbs-down icon"></i>
                  </button>
                </div>
                <button id="comment" class="footerIcons" href="#" class="btn btn-default">
                  <i class="fa fa-comment-alt" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
  
      <!-- Load More Button -->
      <div *ngIf="!loading && currentPage < totalPages - 1">
        <button id="buttonMoreJokes" class="btn btn-default" (click)="loadMore()">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  
  <!-- Notification Message (Commented Out for Now) -->
  <!--
  <div *ngIf="isJokeRecentlyUpdated !== null" id="jokeAdded">
    <div class="alert alert-success alert-dismissible fade show">
      {{ this.isJokeRecentlyUpdated }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  -->