<div *ngIf="loading === true">
    <mat-progress-spinner mode="indeterminate" diameter='140' strokeWidth='50' id="loading">dfdfdfdf</mat-progress-spinner>
</div>  
    
<div *ngIf="errorMsg!==null">
    <div class="col-sm-6 offset-sm-3" id="errorMessage">
        <span > {{errorMsg}} </span>
    </div> 
</div-->
<!--when the loading of jokes is finished and there is no error, we display the jokes-->
<!-- flaaag -->



<div *ngIf="loading===false && errorMsg===null">
    <div class="sh-section__wrap row sh-section__isotope-init" id="conteneur">
        <div class="col-lg-6">        <!--section-->
            <div  *ngFor="let gag of gags;  let i=index" [ngSwitch]="i % 2">   
                <div  *ngSwitchCase="0">
                    <div class="gagPost" id=g{{i}}>
                        <div class="section__head">
                            <a href="single_post.html" class="imageUser">
                                <div *ngIf="gag.facebook_image_name===null">
                                    <img  src="assets/ExterneMedia/pngwave.png" alt="">
                                </div>
                                <div *ngIf="gag.facebook_image_name!==null">
                                    <img  src={{gag.facebook_image_name}} alt="">
                                </div>                               
                            </a>
                            <div  class="detail_header">
                                <div  class="section_username">
                                    <a href="#" *ngIf="gag.createur_name===null">
                                        @Anonyme
                                    </a>
                                    <a href="#" *ngIf="gag.createur_name!==null">
                                        @{{gag.createur_name}}
                                    </a>           
                                </div>
                                <div class="section_hours">AAAAA</div>
                            </div>
                        </div>
                        <div class="mainGagContainer">
                            <div id="title" *ngIf="gag.titreGag!==''">
                                <a href="{{'/gags/' + gag.createur_name + '/' + gag.id}}">
                                    <h5>{{gag.titreGag}}</h5>
                                    <h5>{{gag.titreGag}}</h5>
                                </a>
                            </div>
                            <div id="title" *ngIf="gag.titreGag===''">
                                <a href="{{'/gags/' + gag.createur_name + '/' + gag.id}}"><h5>NoTitle</h5></a>
                            </div>
                            <div class="section_content">
                                <p *ngIf="isArabic(gag.titreGag)===true" style="text-align : right;" [innerHTML]="gag.gagText" class="gag"></p>
                                <p *ngIf="isArabic(gag.titreGag)===false" [innerHTML]="gag.gagText" class="gag"></p>
                                <div *ngIf="gag.laChute!==''">
                                    <button id="laChute" href="#" class="btn btn-default" (click)="updateShowLachute(gag.id,true)">
                                        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    </button>
                                    <div *ngIf="currentShowLaChute===true  && currentGagShowLaChute==gag.id">
                                        <div  *ngIf="isArabic(gag.titreGag)===true" style="text-align : right;"  [innerHTML]="gag.laChute" class="laChuteContainer" id="{{'chuteGag' + gag.id}}">   </div>          
                                        <div  *ngIf="isArabic(gag.titreGag)===false" [innerHTML]="gag.laChute" class="laChuteContainer" id="{{'chuteGag' + gag.id}}">   </div>                                                                                        
                                    </div>
                                </div>
                            </div> 
                        </div>

                        
                        <div class="section_footer">
                            <div id=interaction> 
                                <div *ngIf="isGagAlreadyLiked(gag)===1" class="footerIcons">
                                    <button id="like" href="#" class="btn btn-default" disabled>
                                        <i class="fa fa-thumbs-up icon"></i>
                                    </button>
                                    <button  href="#" class="btn btn-default">
                                        <i class="fa fa-thumbs-down icon"></i>
                                    </button>
                                </div>
                                <div *ngIf="isGagAlreadyLiked(gag)===-1" class="footerIcons">
                                    <button  href="#" class="btn btn-default">
                                        <i class="fa fa-thumbs-up icon"></i>
                                    </button>
                                    <button id="dislike" href="#" class="btn btn-default" disabled>
                                        <i class="fa fa-thumbs-down icon"></i>
                                    </button>
                                </div>

                                <div *ngIf="isGagAlreadyLiked(gag)===0" class="footerIcons">
                                    <button  href="#" class="btn btn-default">
                                        <i class="fa fa-thumbs-up icon"></i>
                                    </button>
                                    <button  href="#" class="btn btn-default">
                                        <i class="fa fa-thumbs-down icon"></i>
                                    </button>
                                </div>
                                <button id="comment" class="footerIcons" href="#" class="btn btn-default">
                                    <i class="fa fa-comment-alt" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                                            
                    </div>           
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div  *ngFor="let gag of gags;  let i=index" [ngSwitch]="i % 2">
                <div *ngSwitchCase="0">                    
                    <div  *ngIf="gags[i+1]!=null">         
                        <div class="gagPost" id=g{{i+1}}>
                            <div class="section__head">
                                <a href="single_post.html" class="imageUser">
                                    <div *ngIf="gags[i+1].facebook_image_name===null">
                                        <img  src="assets/ExterneMedia/pngwave.png" alt="">
                                    </div>
                                    <div *ngIf="gags[i+1].facebook_image_name!==null">
                                        <img  src={{gags[i+1].facebook_image_name}} alt="">
                                    </div>                               
                                </a>
                                <div  class="detail_header">
                                    <div  class="section_username">
                                        <a href="#" *ngIf="gag.createur_name===null">
                                            @Anonyme
                                        </a>
                                        <a href="#"*ngIf="gag.createur_name!==null">
                                            @{{gags[i+1].createur_name}}
                                        </a>           
                                    </div>
                                    <div class="section_hours">AAAAA</div>
                                </div>
                            </div>
                            <div class="mainGagContainer">
                                <div id="title" *ngIf="gags[i+1].titreGag!==''">
                                    <a href="{{'/gags/'  + gags[i+1].createur_name + '/' +  gags[i+1].id}}">
                                        <h5 *ngIf="isArabic(gags[i+1].titreGag)===true" style="text-align : right;">{{gags[i+1].titreGag}}</h5>
                                        <h5 *ngIf="isArabic(gags[i+1].titreGag)===false">{{gags[i+1].titreGag}}</h5>
                                    </a>
                                </div>
                                <div id="title" *ngIf="gags[i+1].titreGag===''">
                                    <a href="{{'/gags/' + gags[i+1].createur_name + '/' + gags[i+1].id}}"><h5>NoTitle</h5></a>
                                </div>
                                <div class="section_content">
                                    <p *ngIf="isArabic(gags[i+1].titreGag)===true" style="text-align : right;" [innerHTML]="gags[i+1].gagText" class="gag"></p>
                                    <p *ngIf="isArabic(gags[i+1].titreGag)===false" [innerHTML]="gags[i+1].gagText" class="gag"></p>
                                    <div *ngIf="gags[i+1].laChute!==''">
                                        <button id="laChute" href="#" class="btn btn-default" (click)="updateShowLachute(gags[i+1].id,true)">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </button>
                                        <div *ngIf="currentShowLaChute===true  && currentGagShowLaChute==gags[i+1].id">
                                            <div *ngIf="isArabic(gags[i+1].titreGag)===true" style="text-align : right;" [innerHTML]="gags[i+1].laChute"  class="laChuteContainer" id="{{'chuteGag' + gags[i+1].id}}"></div> 
                                            <div *ngIf="isArabic(gags[i+1].titreGag)===false" [innerHTML]="gags[i+1].laChute"  class="laChuteContainer" id="{{'chuteGag' + gags[i+1].id}}"></div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="section_footer">
                                <div id=interaction> 
                                    <div *ngIf="isGagAlreadyLiked(gags[i+1])===1"  class="footerIcons">
                                        <button id="like" href="#" class="btn btn-default" disabled>
                                            <i class="fa fa-thumbs-up icon"></i>
                                        </button>
                                        <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gags[i+1].id,false,gags[i+1],i+1)">
                                            <i class="fa fa-thumbs-down icon"></i>
                                        </button>
                                    </div>       
                                    
                                    <div *ngIf="isGagAlreadyLiked(gags[i+1])===-1"  class="footerIcons">
                                        <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gags[i+1].id,true,gags[i+1],i+1)">
                                            <i class="fa fa-thumbs-up icon"></i>
                                        </button>
                                        <button id="dislike" href="#" class="btn btn-default" disabled>
                                            <i class="fa fa-thumbs-down icon"></i>
                                        </button>
                                    </div>  

                                    <div *ngIf="isGagAlreadyLiked(gags[i+1])===0"  class="footerIcons">
                                        <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gags[i+1].id,true,gags[i+1],i+1)">
                                            <i class="fa fa-thumbs-up icon"></i>
                                        </button>
                                        <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gags[i+1].id,false,gags[i+1],i+1)">
                                            <i class="fa fa-thumbs-down icon"></i>
                                        </button>
                                    </div>
                                    <button id="comment" class="footerIcons" href="#" class="btn btn-default" (click)="doAction(1,i+1,gags[i+1].id, gags[i+1].postInteractions)">
                                        <i class="fa fa-comment-alt" aria-hidden="true"></i>
                                    </button>      
                                </div>
                            </div>
                                                
                        </div>     
                    </div>      
                </div>
            </div>
        </div>
        <div *ngIf="diplayMoreGags()==true" class="row" id="moreJokes">
            <button id="buttonMoreJokes" href="#" class="btn btn-default" (click)="doAction(2,null,null,null)">
                ...
            </button>  
        </div>   
    </div>

    <div class="sh-section__wrap row sh-section__isotope-init" id="conteneurMobile">
        <div  *ngFor="let gag of gags;  let i=index">
            <div class="gagPost" id=g{{i}}>
                <div class="section__head">
                    <a href="single_post.html" class="imageUser">
                        <div *ngIf="gag.facebook_image_name===null">
                            <img  src="assets/ExterneMedia/pngwave.png" alt="">
                        </div>
                        <div *ngIf="gag.facebook_image_name!==null">
                            <img  src={{gag.facebook_image_name}} alt="">
                        </div>                               
                    </a>
                    <div  class="detail_header">
                        <div  class="section_username">
                            <a href="#" *ngIf="gag.createur_name===null">
                                @Anonyme
                            </a>
                            <a href="#"*ngIf="gag.createur_name!==null">
                                @{{gag.createur_name}}
                            </a>           
                        </div>
                        <div class="section_hours">AAAAA</div>
                    </div>
                </div>
                <div class="mainGagContainer">
                    <div id="title" *ngIf="gag.titreGag!==''">
                        <a href="{{'/gags/' + gag.createur_name + '/' + gag.id}}">
                            <h5 *ngIf="isArabic(gag.titreGag)===true" style="text-align : right;">{{gag.titreGag}}</h5>
                            <h5 *ngIf="isArabic(gag.titreGag)===false">{{gag.titreGag}}</h5>
                        </a>
                    </div>
                    <div id="title" *ngIf="gag.titreGag===''">
                        <a href="{{'/gags/' + gag.createur_name + '/' + gag.id}}"><h5>NoTitle</h5></a>
                    </div>
                    <div class="section_content">
                        <p *ngIf="isArabic(gag.titreGag)===true" style="text-align : right;" [innerHTML]="gag.gagText" class="gag"></p>
                        <p *ngIf="isArabic(gag.titreGag)===false" [innerHTML]="gag.gagText" class="gag"></p>
                        <div *ngIf="gag.laChute!==''">
                            <button id="laChute" href="#" class="btn btn-default" (click)="updateShowLachute(gag.id,true)">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </button>
                            <div *ngIf="currentShowLaChute===true  && currentGagShowLaChute==gag.id">
                                <div  *ngIf="isArabic(gag.titreGag)===true" style="text-align : right;"  [innerHTML]="gag.laChute" class="laChuteContainer" id="{{'chuteGag' + gag.id}}">   </div>          
                                <div  *ngIf="isArabic(gag.titreGag)===false" [innerHTML]="gag.laChute" class="laChuteContainer" id="{{'chuteGag' + gag.id}}">   </div>                                                                                        
                            </div>
                        </div>
                    </div> 
                </div>

                
                <div class="section_footer">
                    <div id=interaction> 
                        <div *ngIf="isGagAlreadyLiked(gag)===1" class="footerIcons">
                            <button id="like" href="#" class="btn btn-default" disabled>
                                <i class="fa fa-thumbs-up icon"></i>
                            </button>
                            <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gag.id,false,gag,i)">
                                <i class="fa fa-thumbs-down icon"></i>
                            </button>
                        </div>
                        <div *ngIf="isGagAlreadyLiked(gag)===-1" class="footerIcons">
                            <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gag.id,true,gag,i)">
                                <i class="fa fa-thumbs-up icon"></i>
                            </button>
                            <button id="dislike" href="#" class="btn btn-default" disabled>
                                <i class="fa fa-thumbs-down icon"></i>
                            </button>
                        </div>

                        <div *ngIf="isGagAlreadyLiked(gag)===0" class="footerIcons">
                            <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gag.id,true,gag,i)">
                                <i class="fa fa-thumbs-up icon"></i>
                            </button>
                            <button  href="#" class="btn btn-default" (click)="addLikeOrDislike(gag.id,false,gag,i)">
                                <i class="fa fa-thumbs-down icon"></i>
                            </button>
                        </div>
                        <button id="comment" class="footerIcons" href="#" class="btn btn-default" (click)="doAction(1,i,gag.id, gag.postInteractions)">
                            <i class="fa fa-comment-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>              
            </div> 
        </div>   
    </div>

    <!--display notification msg if joke is created-->
    <!--div *ngIf="isJokeRecentlyUpdated!==null" id=jokeAdded>
        <div class="alert alert-success alert-dismissible fade show">
            {{this.isJokeRecentlyUpdated}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div-->