<!-- culture-choice.component.html -->
<div class="modal-container">
    <div class="modal-header">
      <h2>Choix de culture ?</h2>
      <span class="close-icon" (click)="closeModal()">×</span>
    </div>
    <mat-radio-group [(ngModel)]="selectedCulture" class="culture-radio-group">
      <mat-radio-button *ngFor="let culture of cultures" [value]="culture.code" class="culture-radio-button">
        {{ culture.name }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="modal-actions">
      <button mat-button (click)="saveCulture()" class="save-button" [disabled]="!selectedCulture">Save</button>
    </div>
</div>